
{% extends 'base.html.twig' %}

{% block title %} Login {{ parent() }}{% endblock %}

{% block navbar %}{% endblock %}
{% block navbarBurger %}{% endblock %}


{% block body %}
<h1> Login </h1>
{% endblock %}